file/bn_googleplay.png
file/bn_appstore.png
file/icon_app.png
file/bn_webstore.png
file/bg_pc.png
file/bg_unit_ln-hd.png
file/bg_unit_ln.jpg
file/bg_unit_mmj-hd.png
file/bg_unit_mmj.jpg
file/bg_unit_n25-hd.png
file/bg_unit_n25.jpg
file/bg_unit_vbs.jpg
file/bg_unit_vbs-hd.png
file/bg_unit_vs-hd.png
file/bg_unit_vs.jpg
file/bg_unit_wxs-hd.png
file/bg_unit_wxs.jpg
file/icon.png
file/logo_colorfulpalette.png
file/logo_crypton.png
file/logo_sega.png
file/my_istri.png
